header {
  padding: 20px;
  text-align: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: rosybrown;
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}

.main-body {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
}

.main-body > * {
  flex: 1;
  margin: auto;
}

.bottle {
  position: relative;
  border: 1px solid whitesmoke;
  min-height: 377px;
  margin: auto 30px;
  border-top: none;
  border-radius: 45px 40px;
}

.water {
  position: absolute;
  margin: 0px 10px 0px 20px;
  background-color: rgb(12, 172, 172);
  width: 90%;
  height: 0;
  max-height: 375px;
  bottom: 0;
  border-top: none;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 200px;
  border-bottom-right-radius: 200px;
  transition: ease 0.5s;
}

.buttons > * {
  margin: 20px auto;
}

button {
  display: block;
  padding: 25px;
  margin: 45px;
  max-width: 90px;
  font-weight: bold;
  background-color: rgb(151, 161, 134);
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

.start-over {
  background-color: darkred;
  color: white;
}

.tracker > * {
  margin: 10px auto;
}

.tracker {
  text-align: center;
}

.alert {
  display: none;
  margin: 30px;
  background-color: rgb(12, 109, 12);
}
